<!DOCTYPE html>
<html>
	<head>
		<title>IAM with WSO2 Brown-bag</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/account/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>